<div class="card">
<h5 class="card-header font-monospace">New friend</h5>
<div class="card-body">
<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Back to friends", friends_path,class:"btn btn-secondary font-monospace" %>
</div>

</div>